body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-161px;
  width:703px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:199px;
  width:703px;
  height:314px;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:34px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:463px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:34px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:69px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:104px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:139px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:174px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:209px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:209px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:244px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:279px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:279px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:56px;
  width:281px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:233px;
  width:463px;
  height:36px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:36px;
  background-color:#FFFFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#6699FF;
  text-align:center;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:541px;
  width:146px;
  height:37px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:372px;
  width:463px;
  height:36px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:36px;
  background-color:#FFFFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#6699FF;
  text-align:center;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:303px;
  width:463px;
  height:36px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:36px;
  background-color:#FFFFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#6699FF;
  text-align:center;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:269px;
  width:463px;
  height:36px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:36px;
  background-color:#FFFFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#6699FF;
  text-align:center;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:540px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
