body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-161px;
  width:703px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:199px;
  width:703px;
  height:174px;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:34px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:463px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:34px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:69px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:104px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:240px;
  height:35px;
  font-size:16px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:35px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:139px;
  width:463px;
  height:35px;
  font-size:16px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:459px;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:68px;
  width:208px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:233px;
  width:463px;
  height:36px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:36px;
  background-color:#FFFFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#6699FF;
  text-align:center;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:429px;
  width:146px;
  height:37px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:339px;
  width:463px;
  height:36px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:36px;
  background-color:#FFFFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#6699FF;
  text-align:center;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:303px;
  width:463px;
  height:36px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:36px;
  background-color:#FFFFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#6699FF;
  text-align:center;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:269px;
  width:463px;
  height:36px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:36px;
  background-color:#FFFFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#6699FF;
  text-align:center;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:428px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
